# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio project
SpaceGame.suo
SpaceGame.sdf
SpaceGame.opensdf

# Code Block project
SpaceGame.cbp
SpaceGame.depend
SpaceGame.layout

# Platform dependant compile stuff
Release
Debug
SpaceGame/Debug
SpaceGame/Release
ipch
